#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 996;
    font-size: 5px;
    border: none;
    outline: none;
    background: #1977cc;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

    #backToTopBtn:hover {
        background: #298ce5;
        color: #fff;
    }
