
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @*@media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }*@
        .well_sh {
            min-height: 20px;
            padding: 19px;
            margin-bottom: 20px;
            background-color: white;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
        }

            .well_sh blockquote {
                border-color: #ddd;
                border-color: rgba(0,0,0,.15)
            }
    </style>
    <style>
        .tableFixHead {
            overflow: auto;
            height: 100px;
        }
            .tableFixHead thead th {
                position: sticky;
                top: 0;
                z-index: 1;
            }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px 16px;
        }

        th {
            background: #eee;
        }
    </style>
    <script src="~/assets/js/appSmartRebalance.js"></script>
    <script src="~/assets/js/GlobalFunction.js"></script>
    <script src="~/assets/js/ChartManage.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
</head>
<body>

    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Smart Rebalance Simolator</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="Index"><a href="/Home/Index">Run Smart Rebalance</a></li>
                    <li class="AboutSmartRebalance"><a href="/Home/AboutSmartRebalance">About Smart Rebalance</a></li>
                    <li class="AboutProject"><a href="/Home/AboutProject">About this Project</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav hidden-xs">
                <h2>Smart Rebalance Simolator</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li  class="Index"><a href="/Home/Index">Run Smart Rebalance</a></li>
                    <li  class="AboutSmartRebalance"><a href="/Home/AboutSmartRebalance">About Smart Rebalance</a></li>
                    <li  class="AboutProject"><a href="/Home/AboutProject">About this Project</a></li>
                   
                </ul><br>
            </div>
            <br>

            <div class="col-sm-10">
                @RenderBody();
            </div>
        </div>
    </div>

    @*<button onclick="topFunction()" id="backToTopBtn" title="Go to top">Top</button>*@

    @RenderSection("script", required: false)

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
         var viewBagTitle = '@(ViewBag.Title)';
        //alert(viewBagTitle);

        $(document).ready(function () {
            $("." + viewBagTitle).addClass("active");

        })
    </script>
</body>
</html>
